{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block page_content %}
<div class="container" >
    <div class="row">
        <div class="col">
            <h2>每天要看的資訊網站太多一個一個點很麻煩，目前此網站收集約30個網站, 每15分鐘更新，如果有想要新增網站請聯絡我</h2>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-4">
            作者信箱:<a href="mailto:iampf510@gmail.com">iampf510@gmail.com</a>
        </div>
    </div>
    <br>
    <hr>
    <br>
    
    <div class="row">
        <p>目前支援網站</p>
        {% for website in websites %}
            <div class="col-lg-2"><a href="{{website.url}}">{{website.name}}</a></div>
        {% endfor %}
    </div>

    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover table-bordered ">
                <tr>
                    <td>虛擬貨幣</td>
                    <td>抖內地址</td>
                </tr>
                <tr>
                    <td>BTC</td>
                    <td>1RbUWmD1mFx4VcekiTen2HNp6Yn3Lx53e</td>
                </tr>
                <tr>
                    <td>ETH</td>
                    <td>0x30359aee8a4a6bb288c71b3505b23e7f39658548</td>
                </tr>
                <tr>
                    <td>LTC</td>
                    <td>LYzJ6mqNh3HijnEmSjcocMGXSVD6NVLxtH</td>
                </tr>
                <tr>
                    <td>XMR</td>
                    <td>4JUdGzvrMFDWrUUwY3toJATSeNwjn54LkCnKBPRzDuhzi5vSepHfUckJNxRL2gjkNrSqtCoRUrEDAgRwsQvVCjZbRwGHGmdViMTFJxtGJM</td>
                </tr>
                <tr>
                    <td>ZEC</td>
                    <td>t1PSigHGGFJihgU93gBuwm9izzASNHZQyxc</td>
                </tr>
                <tr>
                    <td>DOGE</td>
                    <td>DH7hVRFchb9UmzMcJy6jPyTBhFDgjvaBPW</td>
                </tr>


            </table>
        </div>
    </div>

</div>
{% endblock%}
