{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% block title %}IT News{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/it">IT</a>
        <a class="navbar-brand" href="/fin">金融</a>
        <a class="navbar-brand" href="/about">關於</a>
    </div>
    <!--<div class="navbar-collapse collapse ">-->
    <div class="navbar-header navbar-right" role="navigation">
        <form class="navbar-form " action="/search/" method="GET">
            <input class="form-control " name="keyword" type="text" placeholder="關鍵字，可以用空格隔開">
            <button class="btn btn-success" type="submit">搜尋</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col ">
            <center><iframe data-aa="1205414" src="//ad.a-ads.com/1205414?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe></center>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    {% block page_content %}
    {% endblock %}
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
