{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block page_content %}
    {{macros.pagination_widget(pagination, '.view_it_page')}}
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>網站</th>
                    <th>文章</th>
                    <th>更新時間</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{article.url|website}}</td>
                    <td><a target="_blank" href={{article.url}}>{{article.title}}</a></td>
                    <td>{{article.date|formatdatetime}}</td>
                </tr>
                    
                {% endfor%}
            </tbody>
        </table>
    </div>
    {{macros.pagination_widget(pagination, '.view_it_page')}}
{% endblock%}
