{% macro pagination_widget(pagination, endpoint) %}
    {% if pagination %}
    <div class="container">
        <div class="row align-itmes-end">
            <div class="col">
                <center><ul class="pagination">
                    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
                        <a href="{% if pagination.has_prev %}{{ url_for(endpoint,page = pagination.page - 1, **kwargs) }}
                        {% else %}#{% endif %}">&laquo;
                        </a>
                    </li>
                    {% for p in pagination.iter_pages() %}
                        {% if p %}
                            {% if p == pagination.page %}
                                <li class="active">
                                    <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                                </li>
                            {% else %}
                            <li>
                                <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                            </li>
                            {% endif %}
                        {% else %}
                        <li class="disabled">
                            <a href="#">&hellip;</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
                        <a href="{% if pagination.has_next %}{{ url_for(endpoint,page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">&raquo;</a>
                    </li>
                </ul></center>
            </div>
        </div>
    </div>
    {% endif %}
{% endmacro %}
