{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block page_content %}
    <div class="container">
        {{pagination}}
        {% if pagination %}
        <div class="pagination">
            {{macros.pagination_widget(pagination, '.index')}}
        </div>
        {% endif %}
        <!--<a class="btn btn-default" href='/page/{{page-1}}'>上一頁</a>
        <a class="btn btn-default" href='/page/{{page+1}}'>下一頁</a>
        <table class="table table-bordered table-striped">
            <caption>文章列表 {{page}} / {{total_page}}</caption>
            <thead>
                <tr>
                    <th>文章</th>
                    <th>更新時間</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td><a href={{article.url}}>{{article.title}}</a></td>
                    <td>{{article.date}}</td>
                </tr>
                    
                {% endfor%}
            </tbody>
        </table>
        <button type="button" class="btn btn-default"><a href='/page/{{page-1}}'>上一頁</a></button>
        <button type="button" class="btn btn-default"><a href='/page/{{page+1}}'>下一頁</a></button>
        <a class="btn btn-default" href='/page/{{page-1}}'>上一頁</a>
        <a class="btn btn-default" href='/page/{{page+1}}'>下一頁</a> -->
    </div>
{% endblock%}
